@font-face {
  font-family: 'GaramondPremier';
  src: url("garamondpremier.otf") format("opentype");
  font-display: block;
}

@font-face {
  font-family: 'Metropolis';
  src: url("metropolis.otf") format("opentype");
}

h1 {
  font-family: 'GaramondPremier';
  padding-top: 20px;
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 1px;
  font-style: normal;
  margin-bottom: 0px;
}

#menu {
  margin: auto;
  width: 100%;
  text-align: center;
  padding-bottom: 60px;
}

#page-divider {
  margin: auto;
  margin-top: -3.0em;
  margin-bottom: -1.6em;
  font-size: 12px;
  border-bottom-width: 2px;
  border-bottom: 2px solid #eee;
  text-align: center;
  display: block;
  width: 60%;
}

ul {
   width: auto;
   background-color: #fff;
   font-family: 'Metropolis';
   text-align: center;
   padding: 0 32px;
   display: inline-block;
}

li {
   font-size: 20px;
   display: inline-block;
   font-variant: small-caps;
   padding: 10px;
}

li a {
   padding: 10px;
}

li a:link {
   color: black;
   text-decoration: none;
}

li a:visited {
   color: black;
   text-decoration: none;
}

li a:hover {
   background-color: lightgray;
}

img {
  width: 100%;
  height-auto;
  text-align:center;
}

td {
  width: 30%;
}

td img {
  width: 100%;
  height-auto;
  text-align:center;
}


#wrapper {
  margin: auto;
  width: 60%;
  max-width: 2000px;
}

#mainbody {
  text-align: center;
}

#text {
  font-family: "GaramondPremier";
  width: 60%;
  font-size: 20px;
  display:inline-block;
}

p {
  text-align: left;
}

.mapouter {
  text-align:right;
  height:500px;
  width:100%;
}

.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:500px;
}
