h1 {
  text-align: center;
}

ul {
   text-align: center;
}

li {
   display: inline-block;
   font-variant: small-caps;
}

img {
  max-width:100%;
  height: auto;
}

#wrapper {
  width: 95%;
}

#mainbody {
  text-align: center;
}

#text {
  width: 50%;
  display:inline-block;
}

p {
  text-align: left;
}

.mapouter {
  text-align:right;
  height:500px;
  width:808px;
}

.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:500px;
  width:808px;
}